
# KiCad noise
*.kicad_sch.lck
~*.kicad_sch.lck
*.lck
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
_autosave-*


# KiCad noise
*.kicad_pcb.lck
~*.kicad_pcb.lck
*.lck
*.kicad_sch-bak
*.kicad_pcb-bak
*-backups/
_autosave-*

